/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v34-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v34-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/open-sans-v34-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v34-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local(""),
    url("../fonts/open-sans-v34-latin_cyrillic-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v34-latin_cyrillic-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #444444;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 170px;
  padding-right: 170px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.main {
  flex-grow: 1;
}
.title {
  font-size: 36px;
  color: white;
  line-height: 43px;
  font-weight: 700;
  margin-bottom: 16px;
}

/* GLOBAL STYLES */

/* HEADER */
.header {
  padding: 25px 0;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  width: 490px;
  display: flex;
  justify-content: space-between;
}
.nav_link {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #222222;
  letter-spacing: 2px;
}
.nav_link:hover {
  color: #de2e54;
}
.head_link:active {
  color: #de2e54;
  opacity: 0.6;
}
.footer_link:active {
  opacity: 0.6;
}

.btn {
  width: 190px;
  height: 47px;
  color: white;
  background-color: #de2e54;
  border: 2px solid #de2e54;
  padding: 12px 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  border-radius: 8px;
  text-align: center;
}
.btn:active {
  background-color: #de2e54;
  opacity: 0.6;
}
.head_btn:hover {
  background-color: white;
  color: #de2e54;
  border: 2px solid #de2e54;
}
.hero_btn {
  display: inline-block;
}
.hero_btn:hover {
  opacity: 0.8;
}
/* /HEADER */
/* MAIN */
/* HERO */
.hero {
  height: 533px;
  background-color: #0eb4c1;
  padding-top: 29px;
}
.hero_container {
  display: flex;
  justify-content: space-between;
}
.hero_info {
  margin-top: 91px;
  width: 500px;
}

.hero_descripe {
  font-size: 18px;
  line-height: 27px;
  color: white;
  margin-bottom: 36px;
}
/* /HERO */

/*  SERVICE */
.service_container {
  padding: 120px 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service_head_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  color: black;
  margin-bottom: 56px;
}
.service_item {
  width: 864px;
  display: flex;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}
.service_item:not(:last-child) {
  margin-bottom: 80px;
}
.service_list {
  margin-bottom: 60px;
}
.service_info {
  width: 600px;
}
.service_title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 24px;
}
.login {
  background-color: #0eb4c1;
}
.login_container {
  padding: 64px 480px;
}
.login_title {
  margin-bottom: 40px;
}
.login_contact {
  display: flex;
  justify-content: space-between;
}
.login_btn {
  text-align: center;
  width: 214px;
  height: 42px;
  font-weight: 700;
  border-radius: 8px;
  border: 2px solid white;
  font-size: 15px;
  line-height: 18px;
  color: white;
  padding: 11px 24px;
}
.login_btn:hover {
  background-color: #de2e54;
  color: white;
  border: 2px solid #de2e54;
}
.login_btn:active {
  background-color: #de2e54;
  border: 2px solid #de2e54;
  opacity: 0.6;
}
/* /SERVICE */
/* /MAIN */

/* FOOTER */
.footer {
  height: 100px;
  padding: 24px 0;
  background-color: #222222;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_link {
  color: white;
}
/* /FOOTER */
